@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* MARQUEE */
.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee-content {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: scrollSkill 30s linear infinite;
}

.marquee-content:hover {
  animation-play-state: paused;
}

@keyframes scrollSkill {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
